@import "../helpers/variables";

header {
  background-color: $darkpurple;

  .container {
    padding: 2.75rem 0;
    border: 2px solid red;

    .row {
      border: 2px solid red;
      #logo {
        font-family: Righteous, cursive;
        font-size: 2.5rem;

        a {
          color: $darkpink;

          &:hover {
            text-decoration: none;
          }
        }
      }

      form {
        i,
          input {
          border-radius: 19px;
        }

        input {
          margin-right: 0.625rem;
          color: rgb(74, 74, 74);

          &::-webkit-input-placeholder {
            color: rgb(191, 191, 191);
          }

          &:-ms-input-placeholder {
            color: rgb(191, 191, 191);
          }

          &::-ms-input-placeholder {
            color: rgb(191, 191, 191);
          }

          &::placeholder {
            color: rgb(191, 191, 191);
          }
        }

        i {
          color: $darkpurple;
          background-color: $lightpink;
          cursor: pointer;

          &:hover {
            background-color: $darkpink;
          }
        }
      }
    }
  }
}
