#songs {
  .container-fluid {
    max-height: 100vh;
    overflow-y: auto;
    .row {
      border-bottom: 1px solid rgb(204, 204, 204);

      &:hover {
        background-color: rgb(239, 237, 242);
      }

      div {
        a {
          color: $lightpink;
          &:hover {
            color: $darkpink;
          }
        }
      }
    }
  }
}
